@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

#root {
  max-width: 1280px;
  padding: 2rem;
  font-family: 'Nanum Pen Script', cursive;
  font-family: 'Yeon Sung', cursive;
  background-color: rgb(251, 251, 234);
  color: teal;
}

body {
  background-color: #61dafbaa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

@media (min-width: 650px) {
  body {
    background-color: paleturquoise;
  }

  .App {
    width: 640px;
  }
}

@media (max-width: 650px) {
  .App {
    width: 90vw;
  }
}

a {
  text-decoration: none;
  color: plum;
}
.App {
  min-height: 100vh;
}

.Button {
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  font-family: inherit;
}

.Button_default {
  background-color: lightgray;
  color: black;
}

.Button_positive {
  background-color: lightgreen;
}

.Button_negative {
  background-color: lightsalmon;
}

/* HEADER */

header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: inherit;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-evenly;
  padding-right: 120px;
  padding-left: 120px;
}

/* DiaryList */

.menu_container {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.left_col,
.right_col {
  width: 50%;
}

.right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  background-color: plum;

  padding: 10px 20px;

  cursor: pointer;
  font-family: 'Yeon Sung';
  font-size: 1em;
}

/* DiaryItem */

.DiaryItem {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

.DiaryItem img {
  height: 80px;
}

.emotionContainer {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.emotionContainer_1 {
  background-color: #64c964;
}

.emotionContainer_2 {
  background-color: #9dd772;
}

.emotionContainer_3 {
  background-color: #fdce17;
}

.emotionContainer_4 {
  background-color: #fd8446;
}

.emotionContainer_5 {
  background-color: #fd565f;
}

.DiaryContent {
  cursor: pointer;
  text-align: left;
  width: 50%;
}
